<!DOCTYPE html>
<html>
  <head>
    <title>iVote</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bulma/0.7.4/css/bulma.min.css">
    <script defer src="https://use.fontawesome.com/releases/v5.3.1/js/all.js"></script>
    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <nav class="navbar" role="navigation" aria-label="main navigation">
      <div class="navbar-brand">
        <a class="navbar-item" href="<%= root_path %>">iVote</a>
      </div>

    <% if user_signed_in? %>
      <div class="navbar-menu">
        <a class="navbar-item" href="<%= polls_path %>">Polls</a>
        <a class="navbar-item" href="<%= users_path %>">Users</a>
        <a class="navbar-item" href="<%= edit_user_registration_path(current_user.name) %>">Profile</a>
        <a class="navbar-item" href="<%= destroy_user_session_path %>">Logout</a>
      </div>
    <% else %>
      <div class="navbar-menu">
        <a class="navbar-item" href="<%= new_user_session_path %>">Sign In</a>
        <a class="navbar-item" href="<%= new_user_registration_path %>">Sign Up</a>
      </div>
    <% end %>
  </nav>


    <%= yield %>
  </body>

  <footer class="footer">
      <div class="content has-text-left">
        <p>
          <strong>iVote©</strong> by Kai & Fez.
        </p>
      </div>
  </footer>
</html>
